details{
    padding:1px;
    text-align: center;
    background-color: #bbb;
    outline: none;
}
details>summary {
    margin: 1rem;
    font-size: 2rem;
    text-align: center;
    list-style: none;
}
button{
    border-radius: .8rem;
    cursor: pointer;
    transition: .5s;
}
button:hover{
    transition: .5s;
    transform: scale(1.05);
}

details>summary::-webkit-details-marker {
    display: none;
}
.add-form{
    padding: 1rem;
    text-align: left;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-row{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem;
}

.form-row label{
    color: black;
    font-weight: 400;
}

.form-row>input,.form-row>textarea {
    border-radius: .5rem;
    border: none;
    padding: .5rem;
    width: 60%;
    outline: none;
}
.addproduct-submit{
    width: 15rem;
    padding: .7rem;
    margin: 2rem;
    margin-bottom: 0rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: .5s;
}
.addproduct-submit:hover{
    transform: scale(1.05);
    transition: .5s;
}

.product-added {
    padding: 1rem;
    color: rgb(33, 115, 33);
    font-size: 2rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-added button{
    padding: 1rem;
    border-radius: .4rem;
}